spring:
  application:
    name: booking
  datasource:
    url: jdbc:h2:mem:booking;DB_CLOSE_DELAY=-1
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
  h2:
    console:
      enabled: true
      path: /h2-console
  cloud:
    openfeign:
      httpclient:
        connection-timeout: 5000
      circuitbreaker:
        enabled: true
server:
  port: 8082
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,circuitbreakers,retries
  endpoint:
    health:
      show-details: always
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

resilience4j:
  retry:
    instances:
      hotelService:
        max-attempts: 3
        wait-duration: 1s
        enable-exponential-backoff: true
        exponential-backoff-multiplier: 2
        retry-exceptions:
          - feign.FeignException.ServiceUnavailable
          - feign.FeignException.InternalServerError
          - java.net.ConnectException
security:
  jwt:
    secret: scret9secrt8seret7set6retsect1
    ttl-seconds: 3600
